*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    color: hsl(192, 100%, 9%);
}


.navbar-top{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
   
    padding: 50px 0;
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.right_of_navbar{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.right_of_navbar p{
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 40px;
    padding: 5px 20px;
    font-size: 15px;
    color: hsl(322, 100%, 66%);
}

/* Container-1 */
.Container-1{
    padding-top: 20%;
    font-family: "Poppins", serif;
    text-align: center;
    margin-bottom: 4rem;
}

.Container-1-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.Container-1 h1{
    font-size: 40px;
    font-weight: 700;
    font-family: "Poppins", serif;
}

.Container-1 p{
    width: 35%;
}

.Container-1 button{
    background-color: hsl(322, 100%, 66%);
    padding: 20px 90px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}

.Container-1-image{
    margin-top: 100px;
}

/* Conatiner-2 */
.data-numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 0;
}

.numbers{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.numbers-text{
    text-align: center;
    align-items: center;
}

.numbers-text p{
   
    width: 100%;
}

.numbers-text h2{
    font-size: 90px;
    font-weight: 700;
    font-family: "Open Sans", serif;
}

.numbers-text p{
    font-size: 20px;
    color: gray;
}

/* Container-3 */

.grow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    padding: 50px 120px;
    gap: 10px; 
    font-family: "Open Sans", serif;
    background-color:  hsl(207, 100%, 98%);
}

.grow-container-text-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.grow-container-text-section h2 {
    font-size: 40px;
    font-weight: 700;
}

.grow-container-text-section p {
    width: 80%;
    font-weight: 400;
}


.flowing-container-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding: 50px 120px;
    gap: 100px; 
    font-family: "Open Sans", serif;
}

.flowing-container-text-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.flowing-container-text-section h2 {
    font-size: 40px;
    font-weight: 700;
}

.flowing-container-text-section p {
    width: 100%;
    font-weight: 400;
}


/* Container-6 */
.build-community{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 8rem;
    margin-bottom: 10rem;
}


/* Footer*/

footer{
    display: flex;
    flex-direction: row;
    background-color: hsl(192, 100%, 9%);
    justify-content:space-between;
    padding: 100px 130px;
    margin-top: -10px;
}

footer p{
    color: gainsboro;
}

footer span{
    color: gainsboro;
}

.footer_container_1{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
}

.logo_footer {
    float: left;
    max-width: 100%; 
    height: auto;
}

.social-media-icons{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer_container_2{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subscribe-section{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.newsletter-section h2{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.newsletter-section{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscribe-section input{
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}

.subscribe-section button{
    border: none;
    background-color: hsl(322, 100%, 66%);
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.bg-top-mobile{
    display: none;
}

.bg-top-desktop{
    display: block;
}


/* responsive design */
@media (max-width:  375px) {
    
    /* navbar-container */
    .navbar-top{
        width: 100%;
        padding: 25px 0;
    }

    .right_of_navbar p{
        border: 1px solid hsl(322, 100%, 66%);
        border-radius: 40px;
        padding: 5px 20px;
        font-size: 10px;
        color: hsl(322, 100%, 66%);
    }

    .left_of_navbar img{
        height: 15px;
    }

    /* Container-1 */
    .Container-1-description{
        gap: 20px;
        padding: 35% 40px 0 40px;
    }

    .Container-1-description h1{
        font-size: 25px;
    }

    .Container-1-description p{
        width: 90%;
        font-size: 12px;
    }

    .Container-1 button{
        background-color: hsl(322, 100%, 66%);
        padding: 10px 40px;
        border: none;
        border-radius: 50px;
        color: white;
        font-size: 12px;
        margin-top: 10px;
        font-weight: 500;
    }

    .Container-1-image{
        width: 80%;
    }

    /* Container-2 */
    .data-numbers{
        display: flex;
        flex-direction: column;
        padding: 20px 20% 0 20%;
        gap: 6rem;
    }

    .numbers img{
        width: 30px;
        margin-left: 35px;
    }

    .numbers-text h2{
        font-size: 60px;
    }

    .numbers-text p{
        font-size: 15px;
        font-weight: 400;
    }

    /* Container-3 */
    .bg-top-mobile{
        display: block;
    }

    .bg-top-desktop{
        display: none;
    }

    .grow-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -10px;
        gap: 80px; 
        font-family: "Open Sans", serif;
        background-color:  hsl(207, 100%, 98%);
    }

    .grow-container img{
        width: 260px;
        padding-top: 50px;
    }

    .grow-container-text-section{
        padding: 0;
        margin: 0;
        gap: 15px;
        width: 220%;
        text-align: center;
    }

    .grow-container-text-section h2{
        font-size: 20px;
    }

    .grow-container-text-section p{
        font-size: 13px;
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }
    
    /* Conatiner-4 */
    .flowing-container-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -10px;
        gap: 80px; 
        font-family: "Open Sans", serif;
    }

    .flowing-container-section img{
        width: 260px;
        padding-top: 70px;
    }

    .flowing-container-text-section{
        padding: 0;
        margin: 0;
        gap: 15px;
        width: 220%;
        text-align: center;
    }

    .flowing-container-text-section h2{
        font-size: 20px;
    }

    .flowing-container-text-section p{
        font-size: 13px;
        width: 100%;
        text-align: center;
    }
    
    /* Container-6 */
    .build-community h1{
        font-size: 25px;
    }

    .build-community{
        padding-bottom: 6rem;
    }

    /* footer section */
    footer{
        display: flex;
        flex-direction: column-reverse;
        background-color: hsl(192, 100%, 9%);
        gap: 7rem;
        padding: 50px 30px 30px 30px;
        margin-top: -1px;
    }


    .footer_container_2 h2{
        font-size: 22px;
    }

    .footer_container_2{
        font-size: 15px;
        width: 100%;
    }

    .subscribe-section{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
    }
    
    .newsletter-section h2{
        color: white;
        font-size: 22px;
        font-weight: 500;
    }

    .newsletter-section p{
        width: 100%;
    }
    
    .newsletter-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .subscribe-section input{
        border: none;
        padding: 15px;
        border-radius: 5px;
        width: 90%;
    }
    
    .subscribe-section button{
        border: none;
        background-color: hsl(322, 100%, 66%);
        padding: 15px 45px;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        font-weight: 500;
    }
    
    .bg-top-mobile{
        display: none;
    }
    
    .bg-top-desktop{
        display: block;
    }

   
    .footer_container_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
    }
    
    .logo_footer {
        float: left;
        max-width: 70%; 
        height: auto;
    }
}